
.slider_wrapper_tracker{
    padding: 50px;
    background-color: $section-color;
    width: 100%;

    @include max_mobile {
        padding: 15px;
    }


    .slider_content_tracker{
        position: relative;
        width: 100%;
        margin: 30px auto ;
        overflow-x: hidden;
        height: 300px;
        box-sizing: border-box;
        background-color: rgb(55, 55, 206);
        // margin: 10px;
        border-radius: 9px;
    }
    .slide_container{
        display: flex;
        width:100%;
        height: auto;
    }
    .slide{
        text-align: center;
        min-width: 100%;
        display: block;
        height: 300px;
        overflow-x: hidden;
        
        .slide_img{
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            bottom: 0;
            display: block;
            object-fit: cover;
         
        }
        .caption{
            position: relative;
            z-index: 1;
            width: 300px;
            padding: 30px;
            width: 100%;
            margin: 50px auto;
            color: white;

        @include max_tablet{
            margin: 50px;
        }

            h1 {
                font-size: 25px;

                @include max_mobile {
                    font-size: 15px;
                }
            }
            p {
                font-size: 1rem;
            }
        }
       
    }

   

    .carousel_btn_wrapper {
        width: 110px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 20px;
        bottom: 20px;

   button{
        display: block;
        border: 2px solid white;
        outline: none;
        width:50px;
        border-radius: 50%;
        height: 50px;
        background-color: unset;
        color:white;
        cursor: pointer;
        // transition: 5s ease-in-out;

        & i {
            font-size: 18px;
        }
        &:hover{
            background-color: rgb(190, 190, 190);
        }

        }
    }
}


.color1 {
    background-color: red;
}

.indicator_wrapper {
    position: absolute;
    bottom: 20px;
    display: flex;
    padding: 20px;
}
.indicator_wrapper .indicator {
    background-color: white;
    margin:4px;
    width: 15px;
    height:15px;
    border: none;
    outline: none;

}
.indicator_wrapper .current {
    background-color: #f12459;
}